@model Dictionary<string, object>

<div class="bg-primary panel-body">
    <h4>User Details</h4>
</div>

<table class="table table-condensed table-bordered">
    @foreach (var kvp in Model)
    {
        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>

<a asp-controller="Admin" class="btn btn-primary">Admin</a>
<a asp-controller="RoleAdmin" class="btn btn-primary">Roles</a>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
}

